<div class="card-lead mt-2">
  <div class="card-lead-top flex-between">
    <div class="card-lead-contact flex-vert">
      <p> <%= lead.company_name %></p>
    </div>
    <div class="flex-between">
      <div>
        <p class="tag-event mr-1"><%= lead.category.name %></p>
      </div>
      <div>
        <p class="tag-event"><%= event.title %></p>
      </div>
    </div>
  </div>
  <div class="card-lead-details">
    <div class="card-lead-contact-data">
      <%= lead.creation_date %>
    </div>
    <p>
      <i class="fas fa-building"></i>
      <small><%= lead.address %> - <%= lead.city %> <%= lead.zip_code %></small>
    </p>
    <p>
      <i class="fas fa-user-friends mr-2"> </i>
      <small><%= lead.head_count %> - <%= lead.legal_structure %></small>
    </p>
    <% if lead.recruitments %>
      <% lead.recruitments.order(publication_date: :desc).each do |recruitment| %>
        <p>
          <i class="fas fa-file-contract mr-2"></i>
          <small><%= recruitment.job_title %> poste en <%= recruitment.contract_type %></small>
        </p>
      <% end %>
    <% end %>
    <p>
    </p>
  </div>
</div>
