<div class="card-lead mt-2">
  <%= recruitment.publication_date%> -
  <%= recruitment.employer %> -
  Code postal : <%= recruitment.zip_code %>
  <%= recruitment.employer_phone %>
  <%= recruitment.employer_email %>
  <br>
  <%= recruitment.job_title %>
  <%= recruitment.contract_type %>
  <%#= recruitment.job_description %>
</div>
