<div class="card-lead">
  <div class="card-lead-top">
    <div class="card-lead-contact">
        <p>
            <%= link_to category_path(lead.category), class: "cat-name" do %>
              <%= lead.category.name %>
            <% end %>
          - <%= lead.company_name.titleize %>
        </p>
    </div>
    <div class="card-lead-event">
      <div class="slack-status" >
        <% if current_user.webhook_slack? %>
            <i class="fab fa-slack mx-2" alt="Slack activé"></i>
        <% end %>
      </div>
      <div class="tag-event" style="background-color: <%= event.color_code %>">
        <%= event.title %>
      </div>
    </div>
  </div>
  <div class="card-lead-details">
      <div class="location">
        <p>
          <i class="fas fa-map-marker-alt mr-1"></i>
          <%= lead.address %> - <%= lead.city %> <%= lead.zip_code %>
        </p>
      </div>
      <div class="card-lead-event creation">
        <% if lead.creation_date && event.title == "Créations de société" %>
          <p>
             <i class="fas fa-building mr-1"> </i>
             <%= lead.legal_structure %>
          </p>
          <p class="card-event">
            <i class="fas fa-play mr-1"></i>
            Créée le <%= l(lead.creation_date, format: :long, locale: :fr) %>
          </p>
        <% end %>
      </div>
      <div class="card-lead-event moving">
        <% if lead.last_moving_date && event.title == "Sociétés qui déménagent" %>
          <p class="card-event">
            <i class="fas fa-truck-moving mr-1"></i>
            Déménagement le <%= l(lead.last_moving_date, format: :long, locale: :fr) %>
          </p>
        <% end %>
      </div>
      <div class="card-lead-event recruitments">
          <% if lead.recruitments && event.title == "Sociétés qui recrutent"%>
             <p>
               <i class="fas fa-user-friends mr-1"> </i>
               <%= lead.head_count %>
            </p>
            <% lead.recruitments.order(publication_date: :desc).each do |recruitment| %>
              <p class="card-event">
                <i class="fas fa-file-contract mr-1"></i>
                <%= recruitment.job_title %> (<%= recruitment.contract_type %>)
              </p>
            <% end %>
          <% end %>
      </div>
      <div class="card-lead-event fusion">
        <% if lead.fusion_date && event.title == "Sociétés qui fusionnent" %>
          <p class="card-event">
            <i class="fas fa-object-group"></i>
            Fusion le <%= l(lead.fusion_date, format: :long, locale: :fr) %>
          </p>
        <% end %>
      </div>
      <div class="card-lead-event website">
        <% if lead.website_date && event.title == "Sociétés qui créent leur site internet" %>
          <p class="card-event">
            <i class="fas fa-at"></i>
            En ligne depuis <%= l(lead.website_date, format: "%B %Y", locale: :fr) %>
          </p>
        <% end %>
      </div>
      <div class="card-lead-event second-head">
        <% if lead.second_headquarter_date && event.title == "Ouvertures d'un nouvel établissement" %>
          <p class="card-event">
            <i class="fas fa-building"></i>
            Ouverture du 2nd siège le <%= l(lead.second_headquarter_date, format: :long, locale: :fr) %>
          </p>
        <% end %>
      </div>

      <div class="options-show">
        <small>voir plus </small> <i class="fas fa-caret-down ml-1"></i>
      </div>
  </div>
  <div class="card-lead-options d-none">
    <div class="options-details">
      Informations détaillées :
    <p>
      <i class="fas fa-scroll"> </i>
      SIRET : <%= lead.siret %>
    </p>
    <p>
      <i class="fas fa-scroll"> </i>
      SIREN : <%= lead.siren %>
    </p>
    <p>
       <i class="fas fa-building mr-1"> </i>
       <%= lead.legal_structure %>
    </p>
    <% if lead.creation_date? %>
      <p>
        Création le <%= lead.creation_date.strftime("%d/%m/%Y") %>
      </p>
    <% end %>
    <p>
      <i class="fas fa-user-friends mr-1"> </i>
      <%= lead.head_count %>
    </p>
    <p>
      <%= lead.recruitments.count %> recrutements en cours
    </p>
    </div>
    <div class="options-hide d-none">
      <small>voir moins </small> <i class="fas fa-caret-up ml-1"></i>
    </div>
  </div>

</div>
