<div class="card-lead mt-2">
  <div class="card-lead-top">
    <div class="card-lead-contact mr-0">
        <div class="flex-vert">
          <%= lead.company_name %>
        </div>
        <div class="tag-event ml-1" style="background-color: <%= lead.category.color_code %>">
          <%= lead.category.name %>
        </div>
    </div>
    <div class="card-lead-event">
      <div class="tag-event" style="background-color: <%= event.color_code %>">
        <%= event.title %>
      </div>
    </div>
  </div>
  <div class="card-lead-details">
    <div class="card-lead-contact mr-0">
      <p>
        <i class="fas fa-map-marker-alt"></i>
        <small><%= lead.address %> - <%= lead.city %> <%= lead.zip_code %></small>
      </p>
      <p>
        <!-- <i class="fas fa-scroll"></i> -->
        <small>SIRET : <%= lead.siret %> </small>
      </p>
    </div>
    <div class="card-lead-event">

      <div class="card-lead-recruitments">
          <% if lead.recruitments %>
            <% lead.recruitments.order(publication_date: :desc).each do |recruitment| %>
              <p>
                <i class="fas fa-file-contract mr-2"></i>
                <small><%= recruitment.job_title %> (<%= recruitment.contract_type %>)</small>
              </p>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
