<div class="header-top">
  <div class="container">
    <h1> <%= @event_category.title %></h1>
  </div>
</div>
<br>
<div class="container">
  <div class="leads-list">
    <% if @event_category.event.title == "Les sociétés qui recrutent" %>
      <% @recruitments.each do |recruitment| %>
        <%= render partial: 'event_categories/lead_card', locals: {recruitment: recruitment} %>
      <% end %>
    <% else %>
      <% @companies.each do |company| %>
        <div class="card-lead mt-2">
          <div class="card-lead-contact">
            <div class="card-lead-contact-data">
              <b><%= company.company_name %> : <%= company.legal_structure %></b>
            </div>
            <div class="card-lead-contact-data">
              <%= company.creation_date %>
            </div>
          </div>
          <i class="fas fa-building"></i> <%= company.address %><%= company.city %> <%= company.zip_code %>
          <br>
          <i class="fas fa-user-friends"></i><%= company.head_count %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

