<br>
<div class="devise">
<div class="container">
  <h2 style="text-align: center;">Editer mon profil</h2>

  <br>

  <h3>Mes informations personnels :</h3>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :first_name, :placeholder => 'Jean', label: 'Prénom' %>
      <%= f.input :last_name, label: 'Nom de famille', :placeholder => 'Plus' %>
      <%= f.input :company_name, label: 'Nom de votre société', :placeholder => 'Google France' %>
      <%= f.input :photo, as: :file, label: "Votre photo de profil" %>
      <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcSet="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
      <%= f.input :webhook_slack, label: "Votre webhook slack => https://slack.com/intl/fr-fr/help/articles/115005265063-Webhooks-entrants-pour-Slack" %>

      <br>

      <h3>Valider votre mot de passe pour enregistrer vos modifications :</h3>

      <%= f.input :password,
                  hint: "Laissez le champ vide si vous ne voulez pas le changer",
                  required: false,
                  input_html: { autocomplete: "mot de passe" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "mot de passe" } %>
      <%= f.input :current_password,
                  hint: "Nous avons besoin de votre mot de passe actuel pour confirmer vos changements",
                  required: true,
                  input_html: { autocomplete: "mot de passe actuel" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Enregistrer", class: "btn-white-white mt-2" %>
    </div>
  <% end %>

  <hr>

  <h3>Supprimer mon compte</h3>

  <p>Mécontent ? Vous pouvez supprimer votre compte en cliquant : <%= link_to "ici", registration_path(resource_name), data: { confirm: "Etes-vous sur?" }, method: :delete %></p>
  <br>
  <%= link_to "Revenir à la page précedente", :back %>
  <br>
</div>
</div>
