
<div class="split">
  <div class="side-bar">
    <div class="dash-brand">
      <%= link_to root_path do %>
          <%= image_tag "https://res.cloudinary.com/dnpdonlro/image/upload/v1606240877/image_vdcjqk.png" %>
          <%= image_tag "https://res.cloudinary.com/dnpdonlro/image/upload/v1606240892/image_1_mndd5g.png" %>
      <% end %>
    </div>
    <div class="btn btn-dash active">
      <%= link_to "/dashboard" do %>
      Overview
      <% end %>
    </div>
    <br>
    <div class="btn btn-dash">
      <%= link_to "#" do %>
      Abonnements
      <% end %>
    </div>
    <br>
    <div class="btn btn-dash">
      <%= link_to "#" do %>
      Leads
      <% end %>
    </div>
    <br>
    <div class="btn btn-dash">
      <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
    </div>
  </div>
  <div class="main-page">
    <div class="header-top">
        <h1>Overview</h1>
        <p> La vision directe de mes abonnements et de mes L.E.A.D.s</p>
    </div>
    <div class="d-flex">
      <div class="abonnement-box">
        <% @my_sub_cat.each do |category| %>
          <div class="sub-title">
            <%= category.name %>
          </div>
          <% @my_sub.each do |subscription| %>
            <% if subscription.category == category %>
              <%= render partial: 'subscriptions/subscriptions_card', locals: {subscription: subscription} %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="lead-box">
        <% @my_sub_event_cat.each do |event_cat| %>
          <div class="sub-title">
            <%= event_cat.title %>
          </div>
          <% event_cat.get_company_leads.each do |lead| %>
              <%= render partial: 'event_categories/lead_company_card', locals: {lead: lead, event: event_cat.event} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

