
<div class="split">
  <div class="side-bar">
    <div class="dash-brand">
    </div>
    <div class="btn btn-dash over-btn active">
      <%= link_to "/dashboard", class: "flex-left" do %>
      <i class="fas fa-digital-tachograph"></i>
      Tableau de bord
      <% end %>
    </div>
    <br>
    <div class="btn btn-dash abo-btn">
      <%#= link_to "", class: "flex-left" do %>
      <i class="fas fa-rss-square"></i>
      Abonnements
      <%# end %>
    </div>
    <br>
    <div class="btn btn-dash lead-btn">
      <%#= link_to "", class: "flex-left" do %>
      <i class="fas fa-id-card"></i>
      L.E.A.D
      <%#end %>
    </div>
    <br>
    <div class="btn btn-dash">
      <%= link_to destroy_user_session_path, method: :delete, class: "flex-left" do %>
      <i class="fas fa-sign-out-alt"></i>
      Déconnexion
      <% end %>
    </div>
  </div>
  <div class="main-page">
    <div class="header-top text-center">
        <h1>Bienvenue sur votre espace : <%= current_user.first_name %> </h1>
        <p> La vision directe de mes abonnements et de mes L.E.A.D.</p>
    </div>
    <div class="overview">
      <div class="abonnement-box">
        <div class="box-title">
          Abonnements
        </div>
        <% @my_sub_cat.each do |category| %>
          <% @my_sub.each do |subscription| %>
            <% if subscription.category == category %>
              <%= render partial: 'subscriptions/subscriptions_card', locals: {subscription: subscription} %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="lead-box">
        <div class="box-title">
          L.E.A.D. des dernières 24h
        </div>
        <% @my_sub_event_cat.each do |event_cat| %>
          <% event_cat.get_company_leads_from_date(Date.today-1).first(5).each do |lead| %>
              <%= render partial: 'event_categories/lead_company_card_small', locals: {lead: lead, event: event_cat.event} %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="abonnements">
        <div class="box-title">
          Abonnements
        </div>
        <% @my_sub_cat.each do |category| %>
          <% @my_sub.each do |subscription| %>
            <% if subscription.category == category %>
              <%= render partial: 'subscriptions/subscriptions_card_large', locals: {subscription: subscription} %>
            <% end %>
          <% end %>
        <% end %>
    </div>
    <div class="leads">
        <div class="box-title">
          Tous les L.E.A.D.
        </div>
        <% @my_sub_event_cat.each do |event_cat| %>
          <% event_cat.get_company_leads.each do |lead| %>
              <%= render partial: 'event_categories/lead_company_card_small', locals: {lead: lead, event: event_cat.event} %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
