

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnpdonlro/image/upload/v1606218201/Legal_srnb3p.jpg);">
  <div class="container">
    <h1>Prenez une longueur d'avance </h1>
    <p>Optimisez vos chances de conversion auprès de vos
    prospects juridiques <br> en les contactant au meilleur moment</p>
    <%= link_to "Découvrez notre panel", categories_path , class: "btn btn-ghost-white"%>
  </div>
</div>

  <div class="home-arguments-cta">
  <div class="container">
    <div class="row row-cols-1">
      <div class="col mt-2">
          <div class="pr-3">
              <h5 class="mb-2 mt-0">Leads on Event-Activated Data</h5>
              <p class="m-0 light-grey">Qu'il s'agisse d'attirer des clients idéaux avec une portée parfaitement ciblée ou d'être alerté des risques de désabonnement avant qu'ils ne surviennent, notre suite d'outils et d'API vous fournit l'intelligence dont vous avez besoin à chaque étape de l'entonnoir. <br>
              Chacun de nos produits s'appuie sur les autres, créant un écosystème unique sur le marché et offrant aux clients qui utilisent nos données sur l'ensemble de leur entonnoir, une plate-forme supérieure à la somme de ses parties.</p>
            </div>
          </div>
      </div>
    </div>
</div>

<div class="container">
  <div class="home-arguments">
    <div class="home-arguments-ctb">
      <h2>Pourquoi choisir L.E.A.D. ?</h2>
    </div>
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col">
          <div class="card-home-arguments">
            <%= cl_image_tag("https://res.cloudinary.com/dpco9ylg1/image/upload/v1606833035/target_ze5h5y.png") %>
              <h4 class="flex-between">
                <span>Notre expertise sectorielle</span>
              </h4>
              <p>Notre connaissance pointue du secteur de la legal tech nous permet de constuire les requetes les plus pertinentes afin de vous servir les meilleurs leads possibles.</p>
          </div>
        </div>
        <div class="col">
          <div class="card-home-arguments">
            <%= cl_image_tag("https://res.cloudinary.com/dpco9ylg1/image/upload/v1606833035/research_qkqphc.png") %>
            <h4 class="flex-between">
              <span>Notre expertise technique</span>
            </h4>
              <p>Nos outils puissants et ciblés permettent de récupérer l'information sur un panel de sites pertinents, puis de la reprocesser pour vous servir des leads clairs.</p>
          </div>
        </div>
        <div class="col">
          <div class="card-home-arguments">
            <%= cl_image_tag("https://res.cloudinary.com/dpco9ylg1/image/upload/v1606833035/parameters_kpy1x8.png") %>
            <h4 class="flex-between">
              <span>Notre facilité d'intégration</span>
            </h4>
              <p>Sans aucun développement, recevez tous les matins, directement dans vos outils internes (Slack,..) vos leads du jour. Chaque jour, des nouvelles opportunités pour vos commerciaux.</p>
          </div>
        </div>
      </div>
  </div>
</div>

<div class= "main-box">
  <div class="container pt-4">
    <h4>Laissez-nous faire la collecte de données pour vous.</h4>
    <div class="row row-cols-1">
      <div class="col">
        <h5 class="mb-2 mt-0">Recevez quotidienement des données fiables avec un minimum de ressources</h5>
        <p class="m-0">Qu'il s'agisse d'attirer des clients idéaux avec une portée parfaitement ciblée ou d'être alerté des risques de désabonnement avant qu'ils ne surviennent, notre suite d'outils et d'API vous fournit l'intelligence dont vous avez besoin à chaque étape de l'entonnoir.</p>
      </div>
    </div>
  </div>
</div>

<div class="second-box">
  <div class="col">
    <div class="d-flex justify-content-around">
      <div>
        <%= link_to "Essayez maintenant", categories_path, class: "btn-white-white" %>
      </div>
        <%= image_tag "https://res.cloudinary.com/dpco9ylg1/image/upload/v1606827773/leads.png", width: 600, height: 350 %>
    </div>
  </div>
</div>

<div class="container">
  <div class="home-arguments">
    <h2>Ils ont pris le(s) L.E.A.D. : </h2>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col">
        <div class="card-style card-testitomial">
          <div class="card-testitomy flex-center">
            <%= image_tag "https://res.cloudinary.com/dnpdonlro/image/upload/v1606319305/shipup_video_wkkXx68_zgtopx.jpg", gravity: :face, class: "avatar-bordered" %>
            <span> <b>Diane</b>  chez UpLaw </span>
          </div>
          <p><em>"Les informations d'entreprise, géographiques et démographiques de L.E.A.D. permettent à nos équipes de vente et d'analyse de fonctionner à leur capacité maximale.
          Je ne sais pas ce que nous ferions sans eux."</em></p>
        </div>
      </div>
      <div class="container">
        <div class="col">
          <div class="card-style card-testitomial">
            <div class="card-testitomy flex-center">
              <%= image_tag "https://res.cloudinary.com/dpco9ylg1/image/upload/v1606907303/te%CC%81le%CC%81chargement_2_ossmd8.jpg", gravity: :face, class: "avatar-bordered" %>
              <span> <b>Pierre</b>  chez LexDev </span>
            </div>
            <p><em>"On a multiplié par 5 les demandes de démonstration, généré des centaines d'opportunités qualifiées et accéléré les transactions en accélérant les prospects les mieux adaptés."</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!--   <div class="home-arguments">
    <h2>Nos derniers L.E.A.D. :</h2>
    <h4>#Notaire #Recrutement</h4>
    <h4>#Notaire #Création</h4> -->
    <!-- Ajouter nos deriers scraps -->
    <%# Company.all.order(updated_at: :desc ).limit(3).each do |company| %>
    <!--  <div class="col-4">
      <%#= render partial: 'companys/company_card', locals: {coder: coder} %>
    </div> -->
    <%# end %>
<!--   </div> -->
