<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnpdonlro/image/upload/v1606218201/Legal_srnb3p.jpg);">
  <div class="container">
    <h1>Prenez une longueur d'avance <br>avec <strong>L.E.A.D. !</strong></h1>
    <p>Optimisez vos chances de conversion auprès de vos
    prospects juridiques <br> en les contactant au meilleur moment</p>
    <%= link_to "Découvrez notre panel", categories_path , class: "btn btn-ghost-white"%>
  </div>
</div>

<div class="container">
  <div class="home-arguments">
    <h2>Qu'est ce que L.E.A.D. ?</h2>
    <div class="row row-cols-1">
      <div class="col">
        <div class="card-style card-home-arguments flex-between">
          <div>
            <h3>Leads on Event-Activated Data</h3>
            <p class="m-0">Qu'il s'agisse d'attirer des clients idéaux avec une portée parfaitement ciblée ou d'être alerté des risques de désabonnement avant qu'ils ne surviennent, notre suite d'outils et d'API vous fournit l'intelligence dont vous avez besoin à chaque étape de l'entonnoir. <br>
            Chacun de nos produits s'appuie sur les autres, créant un écosystème unique sur le marché et offrant aux clients qui utilisent nos données sur l'ensemble de leur entonnoir, une plate-forme supérieure à la somme de ses parties.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-arguments">
    <h2>Pourquoi choisir L.E.A.D. ?</h2>
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col">
        <div class="card-style card-home-arguments">
          <%= cl_image_tag("https://res.cloudinary.com/dpco9ylg1/image/upload/v1606399523/Notre%20expertise%20sectorielle.svg", width: 420, height: 420) %>
          <h4 class="flex-between">
              <i class="fas fa-balance-scale"></i>
              <span>Notre expertise sectorielle</span>
          </h4>
          <p>Notre connaissance pointue du secteur de la legal tech nous permet de constuire les requetes les plus pertinentes afin de vous servir les meilleurs leads possibles.</p>
        </div>
      </div>
      <div class="col">
        <div class="card-style card-home-arguments">
          <%= cl_image_tag("https://res.cloudinary.com/dpco9ylg1/image/upload/v1606399525/Notre%20expertise%20technique.svg", width: 420, height: 420) %>
          <h4 class="flex-between">
              <i class="fas fa-cogs"></i>
              <span>Notre expertise technique</span>
          </h4>
          <p>Nos outils puissants et ciblés permettent de récupérer l'information sur un panel de sites pertinents, puis de la reprocesser pour vous servir des leads clairs.</p>
        </div>
      </div>
      <div class="col">
        <div class="card-style card-home-arguments">
          <%= cl_image_tag("https://res.cloudinary.com/dpco9ylg1/image/upload/v1606399527/Notre%20facilit%C3%A9%20d%27int%C3%A9gration.svg", width: 420, height: 420) %>

          <h4 class="flex-between">
              <i class="fas fa-list-ol"></i>
              <span>Notre facilité d'intégration</span>
          </h4>
          <p>Sans aucun développement, recevez tous les matins, directement dans vos outils internes (Slack,..) vos leads du jour. Chaque jour, des nouvelles opportunités pour vos commerciaux.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="home-arguments">
    <h2>Laissez-nous faire la collecte de données pour vous.</h2>
    <div class="row row-cols-1">
      <div class="col">
        <div class="card-style card-home-arguments flex-between">
          <div class="pr-3">
            <h4 class="mb-2 mt-0">Recevez quotidienement des données fiables avec un minimum de ressources</h4>
            <p class="m-0">Qu'il s'agisse d'attirer des clients idéaux avec une portée parfaitement ciblée ou d'être alerté des risques de désabonnement avant qu'ils ne surviennent, notre suite d'outils et d'API vous fournit l'intelligence dont vous avez besoin à chaque étape de l'entonnoir.</p>
            <!-- <p class="m-0">Chacun de nos produits s'appuie sur les autres, créant un écosystème unique sur le marché et offrant aux clients qui utilisent nos données sur l'ensemble de leur entonnoir, une plate-forme supérieure à la somme de ses parties.</p> -->
          </div>
          <%= link_to "Essayez maintenant", categories_path, class: "btn btn-ghost" %>
        </div>
      </div>
    </div>
  </div>

  <div class="home-arguments">
    <h2>Recevez des leads clairs et détaillés : </h2>
    <div class="row row-cols-1">
      <div class="col">
        <div class="card-style">
          <%= image_tag "https://res.cloudinary.com/dnpdonlro/image/upload/v1606227604/Capture_d_e%CC%81cran_2020-11-24_a%CC%80_15.19.50_wpxqgr.png", alt: "alttext", class: "leads-report" %>
        </div>
      </div>
    </div>
  </div>

  <div class="home-arguments">
    <h2>Ils ont pris les L.E.A.D. : </h2>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col">
        <div class="card-style card-testitomial">
          <div class="card-testitomy flex-center">
            <%= image_tag "https://res.cloudinary.com/dnpdonlro/image/upload/v1606319305/shipup_video_wkkXx68_zgtopx.jpg", gravity: :face, class: "avatar-bordered" %>
            <span> Diane chez UpLaw </span>
          </div>
          <p><em>"Les informations d'entreprise, géographiques et démographiques de L.E.A.D. permettent à nos équipes de vente et d'analyse de fonctionner à leur capacité maximale.
          Je ne sais pas ce que nous ferions sans eux."</em></p>
        </div>
      </div>
      <div class="col">
        <div class="card-style card-testitomial">
          <div class="card-testitomy flex-center">
            <%= image_tag "https://res.cloudinary.com/dnpdonlro/image/upload/v1605882337/42sh235ud0dfiyo9ygj585iy19pi.jpg", gravity: :face, class: "avatar-bordered" %>
            <span> Pierre chez LexDev </span>
          </div>
          <p><em>"On a multiplié par 5 les demandes de démonstration, généré des centaines d'opportunités qualifiées et accéléré les transactions en accélérant les prospects les mieux adaptés."</em></p>
        </div>
      </div>
    </div>
  </div>
<br>
<!--   <div class="home-arguments">
    <h2>Nos derniers L.E.A.D. :</h2>
    <h4>#Notaire #Recrutement</h4>
    <h4>#Notaire #Création</h4> -->
    <!-- Ajouter nos deriers scraps -->
    <%# Company.all.order(updated_at: :desc ).limit(3).each do |company| %>
    <!--  <div class="col-4">
      <%#= render partial: 'companys/company_card', locals: {coder: coder} %>
    </div> -->
    <%# end %>
<!--   </div> -->
</div>
