<div class="sub-card-style">
  <div class="sub-info sub-cat">
    <div class="sub-cat-name">
      <%= link_to category_path(subscription.event_category.category) do %>
      <%= subscription.event_category.category.name %>
      <% end %>
    </div>
  </div>
  <div class="sub-info sub-tags">
    <div class="sub-info sub-event">
      <div class="tag-event" style="background-color: <%= subscription.event.color_code %>">
        <%= subscription.event.title %>
      </div>
    </div>
    <div class="sub-info sub-status">
      <div class="tag-event">
        <%= subscription.status %>
      </div>
    </div>
  </div>
</div>
