<div class="col">
  <div class="category-card card-style">
    <% if category.photo.attached? %>
      <div class="category-card-image" style="background-image: url('<%= cl_image_path category.photo.key, crop: :fill %>')"></div>
    <% end %>
    <div class="container pb-2">
    <%= link_to category_path(category) do %>
      <h4><%= category.name %></h4>
    <% end %>
    <div class="category-description">
      <p> <small><%= category.description %></small> </p>
    </div>
    <% if category.event_categories.count > 0 %>
      <div class="category-link">
        <%= link_to category_path(category) do %>
          <% nb_cat_abo = category.subscriptions.where(user: current_user).count %>
          <% if nb_cat_abo == 6 %>
            Aucun abonnement disponible
            <i class="fas fa-arrow-right"></i>
          <% else %>
            <%= category.event_categories.count - nb_cat_abo %> abonnements disponibles
            <i class="fas fa-arrow-right"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
</div>
