

<!-- search-form-control -->
<div class="container">
  <div class="search-bar flex-center card-style">
    <%= simple_form_for :query, url: categories_path, method: :get do |f| %>
      <div class="">
        <input class="string required" placeholder="Essayer 'Notaire','avocat', 'recrutement'..." type="text" name="query" id="query" value="<%= params[:query] %>"/>
          <button name="button" type="submit" class="rounded-pill">
            <i class="fas fa-search"></i>Chercher
          </button>
      </div>
    <% end %>
  </div>
</div>

<!-- CATEGORIES CARDS  -->

<div class="container">
  <div class="row category-cards">
    <% @categories.each do |category| %>
      <div class="col-5 category-card card-style m-3">
        <div class="category-card-image" style="background-image: url('<%= cl_image_path category.photo.key, height: 300, width: 400, crop: :fill %>')"></div>
        <div class="category-card-title">
            <h4><%= category.name %></h4>
            <div class="category-card-description">
              <p> <%= category.description %></p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


 <!--    CATEGORY NOMBRE EVENT -->

    <div class="">
    </div>
  </div>

