<div class="header-top">
  <div class="container">
    <div class="category-header card-style-event-cat flex-center">
      <div class="category-card-image-bis" style="background-image: url('<%= cl_image_path @category.photo.key, height: 300, width: 400, crop: :fill %>')"></div>
      <div class="category-description ml-4">
        <div class="category-head-top-infos">
          <h1> <%=@category.name%> </h1>
          <% nb_user_abo = @category.subscriptions.where(user: current_user).count %>
          <span class="tag-event"> <%= @category.event_categories.count - nb_user_abo %> disponibles</span>
        </div>
        <p>Fiez-vous à des données fraîches et précises grâce à nos recherches exclusives en temps réel sur la profession de <%=@category.name%>.
          Agissez immédiatement en fonction des nouvelles informations, avec des alertes de vente et des notifications de changement de poste par exemple.</p>
      </div>
    </div>
  </div>
</div>

<!-- EVENTS DE LA CATEGORY -->

<div class="container">
  <div class="mb-5">
    <div class="flex-between py-3">
      <button class="card-minimum flex-between">
          <%= link_to "<<< Retour vers les autres categories du panel", categories_path , class:"text-decoration-none" %>
      </button>
      <% if nb_user_abo > 0 %>
        <button class="card-minimum flex-between" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Voir les événements déjà abonnés <i class="fas fa-caret-down ml-2"></i>
        </button>
      <% end %>
    </div>
    <div class="collapse" id="collapseExample">
      <% @category.event_categories.each do |event_category| %>
        <% if Subscription.find_by(user: current_user, event_category:event_category ) %>
            <%= render partial: 'event_categories/event_categories_card', locals: {event_category: event_category} %>
        <% end %>
      <% end %>
    </div>

    <% @category.event_categories.each do |event_category| %>
      <% if Subscription.find_by(user: current_user, event_category:event_category ) %>
      <% else %>
        <%= render partial: 'event_categories/event_categories_card', locals: {event_category: event_category} %>
      <% end %>
    <% end %>
  </div>
</div>



<!-- RETOUR A L'INDEX -->

<div class="container">
</div>










